{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <div class="sprite-stats" id="sprite-stats-card">
        <img id="sprite-stats-layer" class="pokemon_sprite" src="{{pokemon['sprites']['front_default']}}"></img>
        <i id="dex_description">{{flavor_text}}</i>
    </div>
    <div class="pokemon-info">
        <h2>{{pokemon["name"].capitalize()}}</h2>
        <p id="dex-number" class="text-muted">
            National № <strong>{{(pokemon["id"]|string).zfill(4)}}</strong>
        </p>
        <div class="pokemon-types">
            {% for type in pokemon["types"] %}
            <span class="pokemon-type {{type['type']['name']}}">
                {{type["type"]["name"].upper()}}
            </span>
            {% endfor %}
        </div>
        <ul class="text-muted pokemon-general-info">
            <p>Abilities</p>
            <p id="abilities-list">
                {% for ability in pokemon["abilities"] %}
                {% if ability["is_hidden"] %}
                <strong>
                    {{ability["ability"]["name"].replace('-', ' ').capitalize()}}
                </strong> (hidden)
                {% else %}
                <strong>{{ability["ability"]["name"].replace('-', ' ').capitalize()}}</strong>
                {% endif %}
                {% if not loop.last %}
                ,
                {% endif %}
                {% endfor %}
            </p>

            <li>Species<strong>{{genus}}</strong></li>
            <li>Height <strong>{{pokemon["height"]/10}} m</strong></li>
            <li>Weight<strong>{{pokemon["weight"]/10}} kg</strong></li>
            <li>Catch rate<strong>{{pokemon_species["capture_rate"]}}</strong></li>
            <li>Gender
                <strong>
                    <span class="gender-male">{{100-(pokemon_species["gender_rate"])/8*100}}% male</span>
                    ,
                    <span class="gender-female">{{(pokemon_species["gender_rate"])/8*100}}% female</span>
                </strong>
            </li>
            <li>Egg Groups
                <strong>
                    {% for egg_group in pokemon_species["egg_groups"] %}
                    {{egg_group["name"].capitalize()}}
                    {% if not loop.last %}
                    ,
                    {% endif %}
                    {% endfor %}
                </strong>
            </li>
        </ul>
    </div>
</div>
{% endblock %}